<div class="main-content" id="table-producto">
    <div class="container-fluid item-tableproducto">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Productos</h4>
                        <p class="card-category">Lista de productos de la empresa</p>
                    </div>
                    <div class="card-body" >
                      <form class="navbar-form">
                          <div class="input-group no-border">
                              <input type="text" value="" [(ngModel)]="searchText"  class="form-control" placeholder="ingrese codigo o nombre...">
                              <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                  <i class="material-icons">search</i>
                                  <div class="ripple-container"></div>
                              </button>
                          </div>
                      </form>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Descripcion
                                    </th>
                                    <th>
                                       Rubro
                                    </th>
                                    <th>
                                        Cantidad
                                    </th>
                                    <th>
                                        Precio
                                    </th>
                                    <th>
                                        Codigo
                                    </th>
                                    <th>
                                       Activar/Desactivar
                                    </th>
                                    <th>
                                       Modificar
                                    </th>
                                </thead>
                                <tbody *ngFor="let producto of productos | search: searchText ,index as id">
                                    <tr>
                                        <td>
                                           {{id+1}}
                                        </td>
                                        <td class="text-primary">
                                           {{producto.nombre}}
                                        </td>
                                        <td class="text-primary">
                                          {{producto.rubro}}
                                        </td>
                                        <td class="text-primary">
                                           {{producto.cantidad}}
                                        </td>
                                        <td class="text-primary">
                                            {{producto.precio}}
                                        </td>
                                        <td class="text-primary">
                                           {{producto.codigo}}
                                        </td>
                                        <td>
                                          <button class="btn btn-success btn-sm">
                                              Activar
                                            </button>
                                        </td>
                                        <td>
                                          <button class="btn btn-default btn-sm" [routerLink]="['/productoedit',producto._id]">
                                            Modificar
                                          </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>